.DS_Store
**/*.pyc
output*
log.txt
output
**/simplified_data*
**/*split_1.json
**/*split_2.json
**/pretraining.json
classifier_output*
wandb
utils_for_manual_use/classifier_backtesting/place_classification_dataset_here/*
utils_for_manual_use/classifier_backtesting/place_classifier_folder_here/*