.vscode
.DS_Store
_old_project
outputs/*
*.pyc
**/__pycache__/

**/*.pyc
cache/*
inputs/meta/*
inputs/meta*
**/spicy_prompts
**/hidden*
test_huey*
huey/*
logs/*
!logs/.gitkeep
atk-interface/dist/
atk-interface/node_modules/
.venv
.venv/*
**/spicy_obfuscation
generation/core_pipelines/grep_sources
llama.cpp
models/**
helper_process_logs/