# May be incomplete
protobuf 
sentencepiece 
torch
transformers
accelerate
matplotlib 
nltk 
openai
aiohttp
gradio
pyyaml
gradio_log==0.0.4
asyncio
httpx
orjson
cohere
pyarrow
datasets
scikit-learn
chardet