# May be incomplete
numpy
protobuf 
sentencepiece 
torch
transformers
accelerate
matplotlib 
nltk 
openai
aiohttp
pyyaml
asyncio
httpx
orjson
cohere
pyarrow
datasets
scikit-learn
chardet
streamlit
pdf2image
selenium
textract-py3
python-docx
pytesseract
PyMuPDF
bs4